---
import React from "./icons/React.astro";
import Vite from "./icons/Vite.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  VITE: {
    name: "Vite",
    class: "bg-[#003159] text-white",
    icon: Vite,
  },
};

const PROJECTS = [
  {
    title: "IMBD - Buscador de peliculas",
    description: "buscador de peliculas, utilizando una API, React + Vite",
    image: "/proyecto1.jpg",
    tags: [TAGS.REACT, TAGS.VITE],
  },
];
---

{
  PROJECTS.map(({ title, description, image, tags }) => (
    <article>
      <h3 class="text-green-600 text-lg">{title}</h3>
      <p class="text-gray-400 mt-6">{description}</p>
      <ul class="flex flex-row mb-2 gap-x-2 mt-6">
        {tags.map((tag) => (
          <li class="">
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img class="rounded-md" src={image} alt="cap proyecto" />
    </article>
  ))
}
